In [ ]:
'''
Kode ini untuk 
mengeluarkan kata halo selamat datang
'''
print('halo selamat datang')

In [ ]:
prodi = "Matematika"
angkatan = 2025
print("Prodi" , prodi , "Angkatan" , angkatan)

In [ ]:
prodi = "Matematika"
angkatan = 2025
print(f"Prodi {prodi} Angkatan {angkatan}")

In [ ]:
print('Hari Jum\'at')

In [ ]:
print(' Menggunakan \"python\" ')

In [ ]:
print(" Menggunakan \"python\" ")

In [ ]:
print("belajar menggunakan simbol backslash \\")

In [ ]:
print('selamat datang\n\n\n')
print('di kampus')

In [ ]:
print('KULIAH\rPemrograman')

In [ ]:
print('pengantar \t pemrograman')

In [ ]:
print('Nama Lengkap\t: Mahasiswa')
print('NIM\t\t: 6002201014')
print('Prodi\t\t: Matematika')

In [ ]:
print("KULIAH  \bPERTAMA")

In [ ]:
print("\104 \165 \156 \151 \141")

In [ ]:
p = "PERKULIAHAN"

print(p[-1])

In [ ]:
a = "LATIHAN"
print(a[1:6])

In [ ]:
str1 = "latih PEMROGRAMAN"

print(str1)

In [ ]:
str1 = str1.upper()

print(str1)

In [ ]:
str1 = input("masukkan nilai= ")
print(str1)

In [ ]:
print ("=============NOT=============")
a = True
c = not a
print(f"a adalah {a}")
print("-----c = not a-----NOT")
print(f"c adalah {c}")

In [ ]:
print("======OR=======")
a = True
b = True
c = a or b
print(f"{a} OR {b} menjadi {c}")

a = True
b = False
c = a or b
print(f"{a} OR {b} menjadi {c}")

a = False
b = True
c = a or b
print(f"{a} OR {b} menjadi {c}")

a = False
b = False
c = a or b
print(f"{a} OR {b} menjadi {c}")

In [ ]:
print("======AND=======")
a = True
b = True
c = a and b
print(f"{a} AND {b} menjadi {c}")

a = True
b = False
c = a and b
print(f"{a} AND {b} menjadi {c}")

a = False
b = True
c = a and b
print(f"{a} AND {b} menjadi {c}")

a = False
b = False
c = a and b
print(f"{a} AND {b} menjadi {c}")

In [ ]:
print("======XOR=======")
a = True
b = True
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

a = True
b = False
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

a = False
b = True
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

a = False
b = False
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

In [ ]:
str1 = "halo selamat datang"
a = str1.split()
print(type(a))
a

In [ ]:
str1 = "cari-tanda-minus-pada-kalimat"
a = str1.find('-')
print(a)

str1[a]

In [ ]:
str1 = "TENGAH"
a = str1.center(11,"X")
print(a)

In [ ]:
masuk = "angkatan {} prodi {}"
tahun = 2025
prodi = "robotik"
a = masuk.format(tahun,prodi)
print(a)

In [ ]:
str1 = float(input("Masukkan apa saja ="))

print(str1)

type(str1)

In [ ]:
list = [1,5,3,6,7,1,4,3,6,9]
print(list)

list.sort()
print(list)
 
list.reverse()
print(list)

In [ ]:
list = [1,5,3,6,7,1,4,3,6,9]
print(list)

list.sort()
print(list)

In [ ]:
data = ['Von Neumann',2023,'Aktif']
nilai= [90,89,93,97]

print(f"{data[0]} status Kuliah: {data[2]}")
print(f"Data terbesar nilai adalah: {max(nilai)}")
print(f"Data terkecil nilai adalah: {min(nilai)}")
print(f"Rata-rata nilai adalah: {sum(nilai)/len(nilai)}")

In [ ]:
 Program pendidikan Thomas: S1-Reguler
 Angkatan : 2023-Ganjil 
 Jumlah nilai Thomas adalah: 4
 Data terbesar Thomas adalah: 97
 Data terkecil Thomas adalah: 89
 Rata-rata nilai Thomas adalah: 92.25

In [ ]:
data = [
        ('Thomas',2023,'Aktif'), #0 -> [0][1]
        (90,89,93,97),           #1 -> len(data[1])
        (20,22),                 #2
        ('S1-Reguler','Ganjil')  #3 -> [-1][-1]
        ]

print(data[0][0]) # Thomas
print(data[-1][0])# S1-Reguler
print(data[2][0:])# (20,22)
"""Program pendidikan Thomas: S1-Reguler
 Angkatan : 2023-Ganjil 
 Jumlah nilai Thomas adalah: 4
 Data terbesar Thomas adalah: 97
 Data terkecil Thomas adalah: 89
 Rata-rata nilai Thomas adalah: 92.25"""

In [ ]:
print(f"Program pendidikan {data[0][0]}: {data[-1][0]}")
print(f"Angkatan : {data[0][1]}-{data[-1][-1]} ")
print(f"Jumlah nilai {data[0][0]} adalah: {len(data[1])}")
print(f"Data terbesar {data[0][0]} adalah: {max(data[1])}")
print(f"Data terkecil {data[0][0]} adalah: {min(data[1])}")
print(f"Rata-rata nilai {data[0][0]} adalah: {sum(data[1])/len(data[1])}")

In [ ]:
var = dict(name = "Thomas", age = 22, country = "Indonesia")
print(var)

In [ ]:
print(f"Nama Mahasiswa adalah {var['name']}")
print(f"Usia {var['name']} adalah {var['age']}")

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop('model')
print(thisdict)

In [ ]:
myfamily = {
  "child1" : {
                "name" : "Emil",
                "year" : 2004
            },
  "child2" : {
                "name" : "Tobias",
                "year" : 2007
            },
  "child3" : {
                "name" : "Linus",
                "year" : 2011
            }
}

In [ ]:
print(myfamily['child3']['year'])

In [ ]:
x = float(input("masukkan bilangan > 1= "))
print(f"nilai input adalah {x}")

cek = x > 1

print(f"Hasil Input anda adalah {cek}")

In [ ]:
x = float(input("masukkan bilangan > 0 dan < 1= "))
print(f"nilai input adalah {x}")

cek1 = x > 0

cek2 = x < 1

cek = cek1 and cek2
print(f"Hasil Input anda adalah {cek}")

In [ ]:
x = float(input("masukkan bilangan > 0 dan < 1= "))
print(f"nilai input adalah {x}")

cek1 = x > -2 and x < 0

cek2 = x > 1 and x < 3

cek = cek1 or cek2
print(f"Hasil Input anda adalah {cek}")

In [ ]:
x = float(input("masukkan bilangan > 0 dan < 1= "))
print(f"nilai input adalah {x}")

cek1 = x > -2 and x < 0

cek2 = ( x > 1 and x < 3 ) or x > 3.5

cek = cek1 or cek2
print(f"Hasil Input anda adalah {cek}")

In [ ]:
x = float(input("masukkan bilangan > 0 dan < 1= "))
print(f"nilai input adalah {x}")

cek1 = (x > -2 and x < 0) or x<-5

cek2 = ( x > 1 and x < 3 ) or x > 3.5

cek = cek1 or cek2
print(f"Hasil Input anda adalah {cek}")

In [ ]:
print('UTS')
m = ['PT. XYZ Komputer',
        'JL. BALAIKOTA NO.1',
        'Kota Parepare',
        'Mahasiswa',
        'mahasiswa@ith.ac.id',
        'Kasir',
        '20 Oktober 2025']

d = [['D0001','D0002','D0003','D0004','D0005'], #0
    ['Monitor','Mouse','Keyboard','CPU','UPS'], #1
    [700,20,50,1000,300],                       #2
    [2,2,2,2,2]]                                #3

r = 1000
# space = "|--     16    --|--       19      --|--     15    --|--  8 --|--    14    --|"
# len(space)

print('- '*38+'-')
print('No. Kode Barang |'+'Nama Barang'.center(19)+'|'+'H. Satuan'.center(15)+'|'+'Jumlah'.center(8)+'|'+'Total'.center(14)+'|')
print('- '*38+'-')

print(f'1   {d[0][0]}'.ljust(16)+'|'+f' {d[1][0]}'.ljust(19)+'|'+f'Rp{d[2][0]*r},-'.rjust(15)+'|'+f'{d[3][0]}'.center(8)+'|'
      +f'Rp{d[2][0]*d[3][0]*r},-'.rjust(14)+'|')

print(f'2   {d[0][1]}'.ljust(16)+'|'+f' {d[1][1]}'.ljust(19)+'|'+f'Rp{d[2][1]*r},-'.rjust(15)+'|'+f'{d[3][1]}'.center(8)+'|'
      +f'Rp{d[2][1]*d[3][1]*r},-'.rjust(14)+'|')

print(f'3   {d[0][2]}'.ljust(16)+'|'+f' {d[1][2]}'.ljust(19)+'|'+f'Rp{d[2][2]*r},-'.rjust(15)+'|'+f'{d[3][2]}'.center(8)+'|'
      +f'Rp{d[2][2]*d[3][2]*r},-'.rjust(14)+'|')

print(f'4   {d[0][3]}'.ljust(16)+'|'+f' {d[1][3]}'.ljust(19)+'|'+f'Rp{d[2][3]*r},-'.rjust(15)+'|'+f'{d[3][3]}'.center(8)+'|'
      +f'Rp{d[2][3]*d[3][3]*r},-'.rjust(14)+'|')

print(f'5   {d[0][4]}'.ljust(16)+'|'+f' {d[1][4]}'.ljust(19)+'|'+f'Rp{d[2][4]*r},-'.rjust(15)+'|'+f'{d[3][4]}'.center(8)+'|'
      +f'Rp{d[2][4]*d[3][4]*r},-'.rjust(14)+'|')

print('- '*38+'-')
print(f'SUBTOTAL: {sum(d[3])}  Rp{sum(d[2])*r*2},-'.rjust(76)+'|')

print('Summary:')

maxi = max(d[2])
index = d[2].index(maxi)

print(f'Harga tertinggi adalah\t\t: Rp{maxi*r},-  ({d[0][index]} - {d[1][index]})')

mini = min(d[2])
ind = d[2].index(mini)

print(f'Harga terendah adalah\t\t: Rp{mini*r},-  ({d[0][ind]} - {d[1][ind]})')

print(f'Harga rata-rata pembelian\t: Rp{sum(d[2])/len(d[2])*r},-')

print(f'{m[2][5:]}, {m[-1]}'.rjust(77))
print('\n'*4)
print(f'{m[3]}'.upper().rjust(77))
garis = str('-'*len(m[3]))
print(garis.rjust(77))
print('MANAJER'.rjust(77))

# Batas Pertemuan 8

In [ ]:
a = 200
b = 200

if b > a:
	print("b lebih besar dari a")
    
elif b < a:
    print("b lebih kecil dari a")
    
else:
    print("b sama dengan a")

In [ ]:
"""
1. Input bilangan denga var x
2. jika x>0 maka print "Bilangan Positif"
3. jika x<0 maka print "bialngan negatif"
4. jika 2 dan 3 False maka print "bilangan nol"
5. Selesai
"""

x = float(input("Masukan Bilangan"))

if x>0:
    print("Bilangan Positif")

elif x<0:
    print("Bilangan Negatif")

else:
    print("Bilangan Nol")

In [ ]:
""" Ganjil-Genap
1. Input nilai x
2. Jika x%2 == 0 maka print "Bilangan Genap"
3. Jika salah maka print "Bilangan Ganjil"
"""

x = float(input("Masukkan Nilai x= "))

if x%2 == 0:
    print("Bilangan Genap")

else:
    print("Bilangan Ganjil")

In [ ]:
""" Ganjil-Genap
1. Input nilai x
2. Jika x%2 == 0 maka print "Bilangan Genap"
3. Jika salah maka print "Bilangan Ganjil"
"""

x = float(input("Masukkan Nilai x= "))

if x%2 == 0:
    if x!= 0:
        print("Bilangan Genap")
    else:
        print("Bilangan Nol")
        
else:
    print("Bilangan Ganjil")

In [ ]:
""" Ganjil-Genap positif negatif
1. Input nilai x
2. Jika x%2 == 0 maka print "Bilangan Genap"
3. Jika salah maka print "Bilangan Ganjil"
"""

x = float(input("Masukkan Nilai x= "))

if x%2 == 0:
    if x!= 0:
        if x>0 :
            print("Bilangan Genap Positif")
        else:
            print("Bilangan Genap Negatif")
    else:
        print("Bilangan Nol")
        
else:
    if x>0:
        print("Bilangan Ganjil Positif")
    else:
        print("Bilangan Ganjil Negatif")

In [ ]:
"""Akar-akar persamaan kuadrat
ax^2 + bx + c = 0

jika akar-akar riil
print "x1=..., x2=...."

jika akar-akar imaginer
print "Akar-akar Imaginer"

1. Input A, B, C
2. hitung D
3. jika D>= 0 maka akar-akar riil
4. jika D<0 maka akar-akar imaginer
5. Selesai
"""

a = float(input("Nilai a= "))
b = float(input("Nilai b= "))
c = float(input("Nilai c= "))

D = b**2 - 4*a*c

if D>= 0:
    x1 = (-b + D**(1/2) )/( 2*a )
    x2 = (-b - D**(1/2) )/( 2*a )
    
    print("akar-akar riil:")
    print(f"x1 = {x1}")
    print(f"x2 = {x2}")

else:
    print("Akar-akar Imaginer")

In [ ]:
a = 20
b = 30

if b > a : print("b lebih besar dari a")

In [ ]:
a = 20
b = 30

print("B besar dari A") if b>a else print("B kecil dari A")

In [ ]:
a = 30
b = 30

print("B besar dari A") if b>a else print("B kecil dari A") if b<a  else print("A sama dengan B")

## Kuliah Materi Matching Case

In [ ]:
print("Kalkulator Sederhana")
print(""" Pilihan Operasi
1. Penjumlahan
2. Pengurangan
3. Perkalian
4. Pembagian
""")

a = float(input("Masukkan Nilai a"))
b = float(input("Masukkan Nilai b"))

operand = int(input("Masukkan Jenis Operasi 1-4"))

match operand:
    case 1:
        hasil = a+b
        print(f"Hasil {a} + {b} = {hasil}")
    case 2:
        hasil = a-b
        print(f"Hasil {a} - {b} = {hasil}")

## Materi Perulangan While

In [ ]:
kondisi = True
i = 1

while kondisi:
    print(i)
    i = i+3

    kondisi = i <= 20

print("Selesai!")

In [22]:
i = 1
while i<=10:
    print(i)
    i = i+1
print("selesai!")

1
2
3
4
5
6
7
8
9
10
selesai!

In [25]:
i = 1
while i<=10:
    if i == 7:
        break
    print(i)
    i = i+1

print("selesai!")

1
2
3
4
5
6
selesai!

In [ ]:
i = 1
while i<=10:
    #Statement
    #Statement
    #Statement
    
    if Kondisi:
        continue

    #Statement
    #Statement
    #Statement
    #Statement
    #Statement
    #Statement
    #Statement

print("selesai!")

In [ ]:
1
2
3
4
6
7
8
9
10

In [26]:
i = 0
while i<=10:
    i = i+1

    if i==5:
        continue

    print(i)

print("selesai")

1
2
3
4
6
7
8
9
10
11
selesai

In [ ]:
1
2
3
4
6

In [30]:
i = 1
while i <= 5:
  print(i)
  i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [29]:
i = 1
while i <= 5:
  print(i)
  i += 1

print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6