In [ ]:
'''
Kode ini untuk 
mengeluarkan kata halo selamat datang
'''
print('halo selamat datang')

halo selamat datang

In [5]:
prodi = "Matematika"
angkatan = 2025
print("Prodi" , prodi , "Angkatan" , angkatan)

Prodi Matematika Angkatan 2025

In [6]:
prodi = "Matematika"
angkatan = 2025
print(f"Prodi {prodi} Angkatan {angkatan}")

Prodi Matematika Angkatan 2025

In [7]:
print('Hari Jum\'at')

Hari Jum'at

In [ ]:
print(' Menggunakan \"python\" ')

 Menggunakan "python"

In [9]:
print(" Menggunakan \"python\" ")

 Menggunakan "python"

In [12]:
print("belajar menggunakan simbol backslash \\")

belajar menggunakan simbol backslash \

In [19]:
print('selamat datang\n\n\n')
print('di kampus')

selamat datang



di kampus

In [26]:
print('KULIAH\rPemrograman')

Pemrograman

In [27]:
print('pengantar \t pemrograman')

pengantar 	 pemrograman

In [29]:
print('Nama Lengkap\t: Mahasiswa')
print('NIM\t\t: 6002201014')
print('Prodi\t\t: Matematika')

Nama Lengkap	: Mahasiswa
NIM		: 6002201014
Prodi		: Matematika

In [39]:
print("KULIAH  \bPERTAMA")

KULIAH PERTAMA

In [44]:
print("\104 \165 \156 \151 \141")

D u n i a

In [49]:
p = "PERKULIAHAN"

print(p[-1])

N

In [61]:
a = "LATIHAN"
print(a[1:6])

ATIHA

In [70]:
str1 = "latih PEMROGRAMAN"

print(str1)

latih PEMROGRAMAN

In [71]:
str1 = str1.upper()

print(str1)

LATIH PEMROGRAMAN

In [72]:
str1 = input("masukkan nilai= ")
print(str1)

Hallo

In [2]:
print ("=============NOT=============")
a = True
c = not a
print(f"a adalah {a}")
print("-----c = not a-----NOT")
print(f"c adalah {c}")

=============NOT=============
a adalah True
-----c = not a-----NOT
c adalah False

In [6]:
print("======OR=======")
a = True
b = True
c = a or b
print(f"{a} OR {b} menjadi {c}")

a = True
b = False
c = a or b
print(f"{a} OR {b} menjadi {c}")

a = False
b = True
c = a or b
print(f"{a} OR {b} menjadi {c}")

a = False
b = False
c = a or b
print(f"{a} OR {b} menjadi {c}")

======OR=======
True OR True menjadi True
True OR False menjadi True
False OR True menjadi True
False OR False menjadi False

In [7]:
print("======AND=======")
a = True
b = True
c = a and b
print(f"{a} AND {b} menjadi {c}")

a = True
b = False
c = a and b
print(f"{a} AND {b} menjadi {c}")

a = False
b = True
c = a and b
print(f"{a} AND {b} menjadi {c}")

a = False
b = False
c = a and b
print(f"{a} AND {b} menjadi {c}")

======AND=======
True AND True menjadi True
True AND False menjadi False
False AND True menjadi False
False AND False menjadi False

In [8]:
print("======XOR=======")
a = True
b = True
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

a = True
b = False
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

a = False
b = True
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

a = False
b = False
c = a ^ b
print(f"{a} ^ {b} menjadi {c}")

======XOR=======
True ^ True menjadi False
True ^ False menjadi True
False ^ True menjadi True
False ^ False menjadi False

In [11]:
str1 = "halo selamat datang"
a = str1.split()
print(type(a))
a

<class 'list'>

['halo', 'selamat', 'datang']

In [14]:
str1 = "cari-tanda-minus-pada-kalimat"
a = str1.find('-')
print(a)

str1[a]

4

'-'

In [17]:
str1 = "TENGAH"
a = str1.center(11,"X")
print(a)

XXXTENGAHXX

In [ ]:
masuk = "angkatan {} prodi {}"
tahun = 2025
prodi = "robotik"
a = masuk.format(tahun,prodi)
print(a)

angkatan robotik prodi 2025

In [29]:
str1 = float(input("Masukkan apa saja ="))

print(str1)

type(str1)

1.0

float

In [6]:
list = [1,5,3,6,7,1,4,3,6,9]
print(list)

list.sort()
print(list)
 
list.reverse()
print(list)

[1, 5, 3, 6, 7, 1, 4, 3, 6, 9]
[1, 1, 3, 3, 4, 5, 6, 6, 7, 9]
[9, 7, 6, 6, 5, 4, 3, 3, 1, 1]

In [9]:
list = [1,5,3,6,7,1,4,3,6,9]
print(list)

list.sort()
print(list)

[1, 5, 3, 6, 7, 1, 4, 3, 6, 9]
[1, 1, 3, 3, 4, 5, 6, 6, 7, 9]

In [ ]:
data = ['Von Neumann',2023,'Aktif']
nilai= [90,89,93,97]

print(f"{data[0]} status Kuliah: {data[2]}")
print(f"Data terbesar nilai adalah: {max(nilai)}")
print(f"Data terkecil nilai adalah: {min(nilai)}")
print(f"Rata-rata nilai adalah: {sum(nilai)/len(nilai)}")

Von Neumann status Kuliah: Aktif
Data terbesar nilai adalah: 97
Data terkecil nilai adalah: 89
Rata-rata nilai adalah: 92.25

In [ ]:
 Program pendidikan Thomas: S1-Reguler
 Angkatan : 2023-Ganjil 
 Jumlah nilai Thomas adalah: 4
 Data terbesar Thomas adalah: 97
 Data terkecil Thomas adalah: 89
 Rata-rata nilai Thomas adalah: 92.25

'Program pendidikan Thomas: S1-Reguler\nAngkatan : 2023-Ganjil \nJumlah nilai Thomas adalah: 4\nData terbesar Thomas adalah: 97\nData terkecil Thomas adalah: 89\nRata-rata nilai Thomas adalah: 92.25'

In [ ]:
data = [
        ('Thomas',2023,'Aktif'), #0 -> [0][1]
        (90,89,93,97),           #1 -> len(data[1])
        (20,22),                 #2
        ('S1-Reguler','Ganjil')  #3 -> [-1][-1]
        ]

print(data[0][0]) # Thomas
print(data[-1][0])# S1-Reguler
print(data[2][0:])# (20,22)
"""Program pendidikan Thomas: S1-Reguler
 Angkatan : 2023-Ganjil 
 Jumlah nilai Thomas adalah: 4
 Data terbesar Thomas adalah: 97
 Data terkecil Thomas adalah: 89
 Rata-rata nilai Thomas adalah: 92.25"""

Thomas
S1-Reguler
(20, 22)

'Program pendidikan Thomas: S1-Reguler\n Angkatan : 2023-Ganjil \n Jumlah nilai Thomas adalah: 4\n Data terbesar Thomas adalah: 97\n Data terkecil Thomas adalah: 89\n Rata-rata nilai Thomas adalah: 92.25'

In [25]:
print(f"Program pendidikan {data[0][0]}: {data[-1][0]}")
print(f"Angkatan : {data[0][1]}-{data[-1][-1]} ")
print(f"Jumlah nilai {data[0][0]} adalah: {len(data[1])}")
print(f"Data terbesar {data[0][0]} adalah: {max(data[1])}")
print(f"Data terkecil {data[0][0]} adalah: {min(data[1])}")
print(f"Rata-rata nilai {data[0][0]} adalah: {sum(data[1])/len(data[1])}")

Program pendidikan Thomas: S1-Reguler
Angkatan : 2023-Ganjil
Jumlah nilai Thomas adalah: 4
Data terbesar Thomas adalah: 97
Data terkecil Thomas adalah: 89
Rata-rata nilai Thomas adalah: 92.25

In [27]:
var = dict(name = "Thomas", age = 22, country = "Indonesia")
print(var)

{'name': 'Thomas', 'age': 22, 'country': 'Indonesia'}

In [33]:
print(f"Nama Mahasiswa adalah {var['name']}")
print(f"Usia {var['name']} adalah {var['age']}")

Nama Mahasiswa adalah Thomas
Usia Thomas adalah 22

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop('model')
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [36]:
myfamily = {
  "child1" : {
                "name" : "Emil",
                "year" : 2004
            },
  "child2" : {
                "name" : "Tobias",
                "year" : 2007
            },
  "child3" : {
                "name" : "Linus",
                "year" : 2011
            }
}

In [37]:
print(myfamily['child3']['year'])

2011